<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <p> Hello Admin,</p>We have to notify you of a new application from Careers. Please kindly check.</p>
  <p>Job Title: {{message.job_title}}</p>
  <p>Name: {{ message.name }}</p>
  <p>Phone: {{message.phone}}</p>
  <p>Email: {{message.email}}</p>
  <p>Gender: {{message.gender}}</p>
  <p>Marital Status: {{message.marital_status}}</p>
  <p>Date of Birth: {{message.date_of_birth}}</p>
  <p>NRC No: {{message.nrc_no}}</p>
  <p>Passport No: {{message.passport_no}}</p>
  <p>Nationality: {{message.nationality}}</p>
  <p>Religion: {{message.religion}}</p>
  <p>Address: {{message.address}}</p>
  <p>Expected Salary: {{message.expected_salary}}</p>
  <p>Work Experience: {{message.work_experience}}</p>
  <p>Career Objective: {{message.carrer_objective}}</p>
  <p>Education: {{message.education}}</p>
  <br>
  <p>Kind Regards,<br>
  <p>Support Team</p>
</body>

</html>