<!DOCTYPE html>
<html>
<body>
 <p> Hello Admin,</p>
<p>A company wants to be a partner with Smilax Global. Please kindly check.</p>
  <p>Company Name: {{message.company_name}}</p>
  <p>Type of Business: {{message.type_of_business}}</p>
  <p>Name: {{ message.name }}</p>
  <p>Phone: {{message.phone}}</p>
  <p>Email: {{message.email}}</p>
  <p>Address: {{message.address}}</p>
  <p>Website Link: {{message.website_link}}</p>
  <p>Message: {{message.message}}</p>
    <br>
  <p>Kind Regards,<br>
  <p>Support Team</p>
</body>
</html>